* {
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
}

.nav-tab {
  width: 30px;
  height: 40px;
  margin-right: 50px;
}
.nav-tab a {
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}
.nav-tab span {
  background: #e1e7f4;
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 8px;
}
.nav-tab:hover span.first-child {
  width: 26px;
}
.nav-tab:hover span.second-child {
  width: 18px;
}
.nav-tab:hover span.third-child {
  width: 22px;
}
.nav-tab:hover span.fourth-child {
  width: 24px;
}

body.open .nav-tab span.first-child {
  width: 30px;
  margin-top: 11px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body.open .nav-tab span.second-child {
  width: 0px;
  opacity: 0;
}
body.open .nav-tab span.third-child {
  width: 0px;
  opacity: 0;
}
body.open .nav-tab span.fourth-child {
  width: 30px;
  margin-top: -21px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.nav-tab {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -15px;
}
