@mixin typography-base {
  // Paragraphs
  p {
    font-size: $global-font-size;
    font-family: $body-font-family !important;
    line-height: $paragraph-lineheight;
    margin-bottom: $paragraph-margin-bottom;
    text-rendering: $paragraph-text-rendering;
    font-weight: $body-font-weight !important;
    color: $text-color;

    &.small {
      font-size: 12px !important;
      line-height: 1.2 !important;
    }
    &.warning {
      color: $alert-color;
    }
    &.medium {
      font-size: 18px;
      font-weight: 600 !important;
    }
    &.large {
      font-size: 24px;
      line-height: 1.4 !important;
    }
    &.bold {
      font-family: $header-font-family-semi !important;
    }
  }

  p.meta {
    color: $text-color;
    font-size: 12px;
    line-height: $paragraph-lineheight;
    text-rendering: $paragraph-text-rendering;
    margin: 10px 0 0;
  }

}
