%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%img-res {
  object-fit: cover;
  max-height: 250px;
  min-height: 250px;
  min-width: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: relative;
}

%row-flow {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}


