.sidenav-container {
  height: 100%;

}
.mat-drawer-container {
  background-color: transparent;
}


.mat-nav-list {
display: none;
}

.sidenav {
  right: 20px ;
  background: transparent;
}

.mat-toolbar.mat-primary {
  background-color: transparent;
  position: sticky;
  top: 0;
}
.mat-drawer-content.mat-sidenav-content {
  margin-left: 0 !important;
}

.mat-toolbar {
  color: white;
  font-family: 'eina03-lightuploaded_file';
  font-weight: lighter;
  font-size: 14px
}
