@import "~@angular/material/theming";
@include mat-core();

$custom-primary: mat-palette($mat-deep-purple);
$custom-accent: mat-palette($mat-amber);

$custom-warning: mat-palette($mat-deep-orange);
$custom-success: mat-palette($mat-teal);

$custom-theme: mat-light-theme($custom-primary, $custom-accent);

@include angular-material-theme($custom-theme);


$alt-primary: mat-palette($mat-light-blue, 400);
$alt-accent: mat-palette($mat-blue-gray, 100);

$alt-warning: mat-palette($mat-deep-orange);
$alt-success: mat-palette($mat-teal);

$alt-theme: mat-light-theme($alt-primary, $alt-accent);


.mat-drawer-container {
  background-color: $white;
}
.alternative {
  @include angular-material-theme($alt-theme);
}

.mat-card  {
  box-shadow: none !important;
}




mat-dialog-container.mat-dialog-container {
  height: auto !important;
  padding: 10px 0;
  overflow-x: hidden;
}


.cdk-global-overlay-wrapper {
  justify-content: center !important;
  align-items: center !important;
  //margin-top: 50px !important;
}

.mat-tab-nav-bar, .mat-tab-header {
  border-bottom: none;
}


.mat-tab-label, .mat-tab-link {
  font-family: $body-font-family-light;
  //font-size: 20px;
}
.mat-tab-label-active .mat-tab-label-content {
  color: $primary;
}

//.mat-form-field-flex {
//  background-color: $light-gray;
//  padding-left: 5px;
//}
//
//.mat-form-field-underline {
//  background-color: $light-gray !important;
//}


.mat-toolbar {
  background-color: transparent;
}



#showroom-vehicle-desc {
  .mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 1px solid #e8e8e8;
  }

  .mat-ink-bar {
    width: 50%;
  }

  .mat-tab-label {
    min-width: 50%;
  }

  .mat-expansion-panel-body {
    table {
      margin-bottom: 0;
    }
    table tr:last-child {
      border: none;
    }
  }

  .mat-card>.mat-card-actions:last-child, .mat-card-content {
    margin-bottom: 0px;
  }
  .mat-card-actions {
    button, .mat-button-focus-overlay {
      background-color: transparent !important;
      &:hover, &:active, &:focus {
        background-color: transparent !important;
        border-bottom: 1px solid $primary;
      }
    }
  }
}


.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
  background: lighten($secondary, 15%);
}

