$color-palette: (
  primary-dark: #150F41,
  blurpal: #6B58EA,
  primary: #6B58EA,
  secondary: #45B6DE,
  success: #B8E986,
  warning: hsl(38, 46%, 54%),
  alert-color: #FF446A,
  footer: #1D1F24,
) !default;

